@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: rem-calc(2575);
}

.overflow {
  overflow: hidden;
}

div.panel,p.flip {
  margin: 10px 0;
}

div.panel {
  height: auto;
  display: none;
  padding: 5px;
  width: calc(100% + 160px);
  overflow: hidden;
  position: relative;
  left: -150px;
}

.category-parent {
  border-bottom: solid 1px rgba(177, 177, 177, 0.36);
  padding: 5px;
  margin-top: rem-calc(-20);

  label {
    color: grey;
  }

  &:hover {
    background-color: rgba(240, 173, 78, 0.53);
    transition: ease all 200ms;
    border-bottom: solid 1px rgba(240, 173, 78, 0);
    z-index: 1;
  }
}


#canvas {
  z-index: 9000;
  transition: ease-all 200ms;
  position: absolute;
  float: right;
  right: -50px;
}

.right-canvas {
  overflow: hidden;
  border-left: solid 1px rgba(226, 226, 226, 0.36);
  padding: 15px;
}

.master {
  margin: 20px 0;
  //padding: 0 30px;
  border-top: solid 2px rgba(238, 238, 238, 0.43);
  border-bottom: solid 2px rgba(238, 238, 238, 0.43);
}

.cell-margin {
  margin: 15px;
}

.button-group {
  //margin: 15px;
}

.canvas-divider {
  border-left: solid 1px rgba(248, 248, 248, 0.16);
}

.atomic-title {
  font-size: rem-calc(42);
  font-weight: 300;
  font-family: 'Noto Sans', sans-serif;
}

.design-title {
  font-size: rem-calc(42);
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');


//  Off-canvas menu hover
.menu-hover:hover {
  background-color: rgba(30, 164, 249, 0.04);
}

.menu-hover-2:hover {
  background-color: rgba(30, 164, 249, 0.04);
}


.menu-hover, .menu-hover-2 {
  ul li a:hover{
    background-color: rgba(240, 173, 78, 0.53);
  }
}

.master {
  animation-duration: 200ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

//"#f1e05a"
.component-buttons {

  .show-code-html, .show-code-scss, .show-code-js {
    width: rem-calc(155);
    color: white;
  }

  .show-code-scss {
    background: #389fff;
    border: solid 1px #389fff;
    //background: #cd679a;
    //border: solid 1px  #cd679a;
  }

  .show-code-html {
    background: #389fff;
    border: solid 1px #389fff;
    //background: #e34f26;
    //border: solid 1px #e34f26;
  }

  .show-code-js {
    background: #389fff;
    border: solid 1px #389fff;
    //background: #f7df1e;
    //border: solid 1px #f7df1e;
  }

  button {
    position: relative;
    background: #389fff;
    color: #f5f5f5;
    width: 115px;
    height: 35px;
    border: 1px solid #389fff;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    margin: 5px 0;
    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.5);
      width: 90px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15deg);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.2);
      width: 40px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(30px);
      transform: translate(-100px) skewX(-15deg);
    }

    &:hover {
      background: #389fff;
      cursor: pointer;
      border: none;
      color: #ffffff;
    }

    .show-code:hover {
      background: #389fff;
      color: white;
      border: solid 1px #389fff;
    }

    &:hover::before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
    }

    &:hover::after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}

.canvas-logo {
  height: 50px;
  margin-top: 25px;
}

.design-logo {
  height: 35px;
  margin: 10px 5px 0 5px;

}

.underline {
  &:hover {

    ul li > a {
      position: relative;
      text-decoration: none;
    }

    ul li > a:hover {
    }

    ul li > a:before {
      content: "";
      position: absolute;
      width: 90%;
      height: 2px;
      bottom: 0;
      left: 7px;
      top: 35px;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    ul li > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

  }
}

.title {
  font-family: 'Ubuntu', sans-serif;
}


.parallax-window {
  position: relative;
  min-height: 300px;
  background: transparent;
}

.hidden {
  display: none;
}

.vertical-alignment {
  position: relative;
  text-align: center;

  a {
  text-align: center;
  }
}

.foundation {
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: .8;
    height: 100px;
    top: auto;
    right: 0;
    bottom: rem-calc(25);
}
