#main {
  margin-top: 20px;
}

#loading-bar {
  background-color: #f0ae71;
  //background-color: #428bca;
  height: 4px;
  width: 0;
  position: fixed;
  z-index: 666000666;
  -webkit-transition:width 500ms ease-out, height 500ms ease-out;
  -moz-transition:width 500ms ease-out, height 500ms ease-out;
  -o-transition:width 500ms ease-out, height 500ms ease-out;
  transition:width 500ms ease-out, height 500ms ease-out;
}

#loading-bar.no-transition {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;
}

#loading-bar.top, #loading-bar.bottom, #loading-bar.left { left: 0;}
#loading-bar.top, #loading-bar.left, #loading-bar.right { top: 0;}
#loading-bar.left, #loading-bar.right { width: 5px; height: 0; }
#loading-bar.bottom { bottom: 0; }
#loading-bar.right { right:0; }

//  https://codepen.io/anon/pen/KGxNpg