@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

hr {
  opacity: .5;
}

label {
  color: #5f5f5f;
}

.accordion-menu .is-accordion-submenu a {
  padding: 0;
}

.position-left.reveal-for-medium {
  z-index: 100;
  font-family: 'PT Sans', sans-serif;
}

.off-canvas-wrapper {
  overflow: visible;
}

.menu a, .menu .button {
  color: #515151;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;

}


.atomic-header {
  font-weight: 300;
  font-size: 14px;
  margin-left: 20px;
  color: grey;
  line-height: 1;
}




//body::-webkit-scrollbar {
//  width: 1em;
//}
//
//body::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//}
//
//  ::-webkit-scrollbar-thumb {
//  background-color: darkgrey;
//  outline: 1px solid slategrey;
//}





.language-markup::-webkit-scrollbar-track
{
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
          color-stop(.5, rgba(240, 174, 113, 0.2)),
          color-stop(.5, transparent), to(transparent));
}

.language-markup::-webkit-scrollbar
{
  width: 5px;
  border-radius: 5px;
}

.language-markup::-webkit-scrollbar-thumb
{
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.5, transparent), to(transparent));
}