@charset 'utf-8';
@import 'foundation';
@import 'motion-ui';
@import 'settings';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;
// @include foundation-prototype-classes;
@include motion-ui-transitions;
@include motion-ui-animations;



// Font Imports
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Partial Imports
@import 'base';
@import 'welcome';
//@import 'includes/spinner';
@import '1-molecules/newsletter';
@import '1-molecules/register';
@import '1-molecules/hamburger';
@import '1-molecules/thumbnail';
@import '2-organisms/header';
@import 'off-canvas';
@import 'includes/top';
@import 'vendor/prism';
@import 'loadingbar';
@import 'includes/appSettings';
@import 'includes/settings_modal';
//@import '1-molecules/languages';
@import 'includes/customCheckbox';
//@import 'functions/base';
@import 'owl-carousel';