* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 1482px;

}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  max-height: 100px;
}


body::-webkit-scrollbar-thumb {
  background: #ffffff;
  max-height: 80px;
  box-shadow: inset 0 0 1px 0 rgba(203, 203, 203, 0.34);
}



.off-canvas::-webkit-scrollbar {
  width: 10px;
}

.off-canvas::-webkit-scrollbar-track {
  background: #f1f1f1;
  max-height: 100px;
}


.off-canvas::-webkit-scrollbar-thumb {
  background: #ffffff;
  max-height: 80px;
  box-shadow: inset 0 0px 1px 0px rgba(203, 203, 203, 0.34);
}


