.hamburger-navigation {
  width: 40px;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  span {
    display: block;
    width: 33px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0 0;
  }
  span:nth-last-child(2) {
    transform-origin: 0 100%;
  }
}


////  Transform all into a cross-mark
//#menuToggle input:checked ~ span {
//  opacity: 1;
//  transform: rotate(45deg) translate(-2px, -1px);
//  background: #232323;
//}
//
//#menuToggle input:checked ~ span:nth-last-child(3) {
//  opacity: 0;
//  transform: rotate(0deg) scale(0.2, 0.2);
//}
//
//#menuToggle input:checked ~ span:nth-last-child(2) {
//  transform: rotate(-45deg) translate(0, -1px);
//}
