.languages {
  width: 100%;
  min-height: rem-calc(200);
  border: solid 1px rgba(55, 55, 55, 0.42);
  .code-unit {
    display: flex;
    flex-flow: row wrap;

    .html {
      width: 33.3333%;
      min-height: rem-calc(200);
      height: auto;
      border: solid 1px #ffb976;
      display: inline-flex;

      .code-head {
        border-bottom: solid 1px #ffb976;
        height: rem-calc(30);
        width: 100%;

      }
    }

    .scss {
      width: 33.3333%;
      min-height: rem-calc(200);
      display: inline-flex;
      border: solid 1px #ffb976;


      .code-head {
        border-bottom: solid 1px #ffb976;
        height: rem-calc(30);
        width: 100%;
      }
    }

    .javascript {
      width: 33.3333%;
      min-height: rem-calc(200);
      border: solid 1px #ffb976;
      display: inline-flex;

      .code-head {
        background: transparent;
        border-bottom: solid 1px #ffb976;
        height: rem-calc(30);
        width: 100%;

      }
    }
  }
}