.thumbnail {
  display: block;
  background-color: #fff;
  overflow: hidden;
  border: none;
}

.thumbnail .zoom {
  overflow:hidden;
  margin: 0 auto;
  z-index: 3;
  position: relative;
  border: none;
}

.thumbnail img {
  background-color: transparent;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  z-index: 2;
  border: none;
}

.thumbnail .zoom:hover img {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  height: calc(100% + 200px);
  width: calc(100% + 200px);

  border: none;
}