.molecule-register {
  border-radius: 2px;
  padding: 5px;
  font-family: 'Bai Jamjuree', sans-serif;
  width: 300px;
  label {
    color: #696768;
    padding: 5px;
  }
  input {
    border-radius: 2px;
    border: none;
  }
  input[type='button'] {
    width: 288px;
    border-radius: 2px;
    font-family: 'Asap Condensed', sans-serif;
    letter-spacing: 0.5px;
  }
  h1 {
    text-align: center;
  }
  :focus {
    border: none;
  }
  .input-group-label {
    border: solid 1px #ecf4ff;
    background: #ffffff;
  }
}