.off-canvas-wrapper ul li {

  input[type=checkbox] + label {
    display: block;
    margin: 0.2em 0.4em 0.2em 0.2em;
    cursor: pointer;
    padding: 0.3em;
    line-height: 1;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid rgba(115, 115, 115, 0.7);
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.3em;
    font-size: 13px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    padding-top: 2px;
  }

  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }

  input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }

  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }

}