.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
}


/* Absolute Center Spinner */
.loading {
  position: relative;
  z-index: 999;
  height: 3em;
  width: 3em;
  margin: auto;
  top: 200px;
}


/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: static;
}