@import 'loadingbar';
@import 'off-canvas';
@import 'settings';
@import 'welcome';
@import 'components';
@import "Checkbox";
@import "top";
@import "copy-tooptip";
@import '../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import "lol";

.link {
  a {
    color: rgba(1, 172, 241, 0.8);
  }
}

a:active, a:focus {
  outline: 0;
  border: none;
}

.float-shadow::before {
  height: 2px;
}

.copy-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 6px 12px;
  text-shadow: 1px 0 0 10px #080808;
  font-weight: 300;
  float: right;
  top: rem-calc(-5);
  z-index: 99;
  opacity: 0;
  bottom: -20px;
  width: 100%;
  height: 100%;
  color:  rgba(92, 92, 92, 0.19);
  display: flex;
  justify-content: flex-end;

  &::after {
    content: '';
    position: absolute;
    min-width: 68px;
    width: auto;
    height: 30px;
    z-index: -1;
    margin-left: 30px;
    right: 6px;
    top: 0;
    border-bottom: solid 2px rgba(92, 92, 92, 0.19);
  }

  &:hover {
    color: rgba(1, 172, 241, 0.8);
    &::after {
      content: '';
      position: absolute;
      min-width: 68px;
      width: auto;
      height: 30px;
      z-index: -1;
      border-radius: 4px;
      margin-left: 30px;
      right: 6px;
      top: 0;
      border-bottom: solid 2px rgba(1, 172, 241, 0.8);

    }
}


}
ul li a:hover {
  text-underline: none;
}

a:hover {
  text-decoration: none;
}

