@import "../vendor/fontawesome-5.6.3/scss/variables";
@import "../vendor/fontawesome-5.6.3/scss/fontawesome";

// Component Classes
.master {
  margin: 20px 0;
  border-top: solid 2px rgba(238, 238, 238, 0.43);
  border-bottom: solid 2px rgba(238, 238, 238, 0.43);

  animation-duration: 200ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

// Code Panels
div.panel,p.flip {
  margin: 10px 0;
}

div.panel {
  height: auto;
  display: none;
  padding: 5px;
  width: calc(100% + 160px);
  overflow: hidden;
  position: relative;
  left: -150px;
}
.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.multiple {
  position: absolute;


  &::after {
    position: absolute;

    top: rem-calc(2);
    right: rem-calc(20);
    left: auto;

  }
}

.to-hover {
  position: absolute;

  &::after {
    float: right;

    display: flex;
    justify-content: center;
  }

  &:hover {
    //background: rgba(255, 223, 138, 0.45);
    transition: ease all 100ms;
    border-radius: rem-calc(10);
    cursor: pointer;



    &::after {


    }
  }
}



  .parallax-wrapper {
    display: flex;
    transition: ease all 200ms;

    position: relative;
    //background: rgba(152, 152, 152, 0.12);







    .copy-group {
      button {
        position: relative;
        i {
          font-size: rem-calc(22);
        }
      }
    }
  }


  .copy-to {

    img {
      height: rem-calc(34);
      cursor: pointer;
      :hover & {

        ::after {
          content:'';
        }
        background-image: url("../../files/copy-2.png");

      }
    }

    .copy-background {
      width: 50px;
    }


  }

