@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.atomic-header {
  font-weight: 300;
  font-size: 14px;
  margin-left: 20px;
  color: grey;
  line-height: 1;
}

.design-logo {
  height: 35px;
  margin: 10px 5px 0 5px;
}

.off-canvas-wrapper {
  overflow: visible;
    hr {
      opacity: .5;
    }

    label {
      color: #5f5f5f;
    }
}

.accordion-menu .is-accordion-submenu a {
  padding: 0;
}

.position-left.reveal-for-medium {
  z-index: 100;
  font-family: 'PT Sans', sans-serif;
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.72);
}

// Off-canvas
.menu a, .menu .button {
  color: #515151;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

.custom {
  a {
    font-size: 12px;
    margin-left: 7px;
    padding: rem-calc(5) 0;
    background: transparent;
    color: #3b3b3b;
  }
}

.sub-level {
  color: #333333;
  padding: 5px 0;
  background: transparent;
}

.menu-hover:hover {
  background-color: rgba(30, 164, 249, 0.04);
}

.menu-hover-2:hover {
  background-color: rgba(30, 164, 249, 0.04);
}

.menu-hover, .menu-hover-2 {
  ul li a:hover{
    background-color: rgba(240, 173, 78, 0.53);
  }
}

.category-parent {
  border-bottom: solid 1px rgba(177, 177, 177, 0.36);
  padding: 5px;
  margin-top: rem-calc(-20);

  label {
    color: grey;
  }

  &:hover {
    background-color: rgba(240, 173, 78, 0.53);
    transition: ease all 200ms;
    border-bottom: solid 1px rgba(240, 173, 78, 0);
    z-index: 1;
  }
}

//.position-left {
//

//}