.settings {
  img {
    height: 25px;
    opacity: .8;
    margin: 12px 10px 10px 10px;
    position: absolute;
    left: auto;
    right: 0;
    top: 2px;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}