#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0);
  width: 40px;
  height: 45px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index:500;

    i {
      color: rgba(0, 0, 0, 0.73);
      margin: 0;
      position: relative;
      left: 11px;
      top: 13px;
      font-size: 19px;
      z-index:500;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &:hover {
        color: rgb(0, 0, 0);
        top: 8px;
      }
    }
}