.welcome {
  height: auto;
  background-color: #f9f9f9;
  padding: 5px;
  margin-top: -5px;
  p {
    font-family: 'PT Sans', sans-serif;
  }

  ul {
    list-style-type: square;
    color: #be6700;
  }

  .theme {
    color: #be6700;
    font-weight: 600;
  }
}


blockquote {
  padding-left: 1em;
  border-left: 3px solid #be6700;
}

.title-correct {
  position: relative;
  top: -15px;
}

.p-size {
  font-size: 24px;
  span:first-child {
    font-size: 30px;
  }
}

.reduce-size {
  font-size: 20px;
  font-weight: 300;
}

.welcome-window {
  height: 400px;
  width: 100%;
  background: grey;
}

.adjust {
  background: #e55c57;
  //border-radius: 10px;
  //height: 20px;
  &:hover, :focus {
    background: #e0534c;
  }
}
