
.script-wrapper {
  position: absolute;
  width: 100%;
}

  .integration-checklist__copy-button {
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;

    background: rgba(255, 184, 83, 0.64);


    cursor: pointer;
    z-index: 1000;

    &:before {
      content: '';
      display: none;
      position: absolute;
      z-index: 9998;
      top: 35px;
      left: 15px;
      width: 0;
      height: 0;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid rgba(0,0,0,.72);
    }

    &:after {
      content: 'Copy to Clipboard';
      display: none;
      position: absolute;
      z-index: 9999;
      top: 40px;
      left: -37px;
      width: 114px;
      height: 36px;

      color: #fff;
      font-size: 10px;
      line-height: 36px;
      text-align: center;

      background: rgba(0,0,0,.72);
      border-radius: 3px;
    }

    &:hover {
      background-color: #eee;

      &:before, &:after {
        display: block;
      }
    }

    &:active, &:focus {
      outline: none;

      &:after {
        content: 'Copied!';
      }
    }
  }

  .signature {
    position: absolute;
    right: 12px;
    bottom: 12px;

    color: rgba(0,0,0,.07);
    font-size: 10px;
  }

  a {
    color: rgba(13,157,219,.55);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }





