@import url('https://fonts.googleapis.com/css?family=Play:400,700');

$white: #ffffff;
$royal-blue-light: #389fff;
$scss: #cd679a;
$html: rgb(227, 79, 38);
$javascript: #f7df1e;
$javascript-dark: #f7cb47;


.border-animation {
    a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #3f3030;
    color: #3f3030;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.8rem 2.4rem;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      content: '';
      transform: rotate(-90deg) translate(-50%, -100%);
      transform-origin: top left;
      transition: transform .3s;
    }

    &:hover:before {
      transform: rotate(0) translate(0);
    }

    &:after {
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background: #fff;
      border: #3f3030 solid 4px;
      color: #3f3030;
      content: 'Hover';
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 1.4rem 1.8rem;
    }
  }
}


.component-buttons {
  .lang-html, .lang-scss, .lang-scripts {
    transform: translate(-50%);
    font-weight: 500;
    font-family: 'Play', sans-serif;
    float: right;
    color: #fff;
  }

  .copy-scss, .copy-html {
    position: relative;
    top: -7px;
    left: 2px;
    font-size: 18px;
  }


  .lang-html {
    position: absolute;
    left: auto;
    right: -6px;
    top: 4px;
  }

  .lang-scripts {
    position: absolute;
    left: auto;
    right: -10px;
    top: 4px;
  }

  .lang-scss {

  }

  .fa-code {
    font-size: rem-calc(25  );
    float: left;
    margin-left: rem-calc(10);
  }

  .fa-html5, .fa-sass, .fa-js {
    font-size: rem-calc(28);
    float: left;
    margin-left: rem-calc(10);
  }

  .show-code-html, .show-code-scss, .show-code-js {
    width: rem-calc(155);
    color: $white;
    line-height: 30px;
}

  .show-code-scss {
    background: $scss;
    border: solid 1px $scss;
  }

  .show-code-html {
    background: $html;
    border: solid 1px $html;
  }

  .show-code-js {
    background: $javascript-dark;
    border: solid 1px $javascript-dark;
  }

  #copied {
    background: rgba(255, 200, 96, 0.77);
    padding: 10px 20px;
    color: white;
    position: relative;
    top: 1px;

  }

  .copy-html {
    color: $html;
  }

  .copy-scss {
    color: $scss;
    margin-top: -5px;
  }

  .copy-js {
    color: $javascript-dark;
  }

  .hide-fa {
    visibility: hidden;

    span {
      visibility: visible;
      position: relative;
      left: rem-calc(-5);
    }
  }

  button {
    position: relative;
    color: $html;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    margin: 5px 0;
    text-transform: uppercase;


    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.5);
      width: 90px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(rem-calc(-130)) skewX(-15deg);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,.2);
      width: 40px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(30px);
      transform: translate(-100px) skewX(-15deg);
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::before {
      transform: translateX(300px) skewX(-15deg);
      opacity: .6;
      transition: .7s;
    }

    &:hover::after {
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }

    .show-code:hover {
      background: #389fff;
      color: white;
      border: solid 1px #389fff;
    }

  }
}