* {
  margin: 0;
  padding: 0;
}

.iphone-colors {
  margin: 25px;
}

.colors {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;

  .red, .yellow, .green, .teal-blue, .blue, .purple, .pink {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .red {
    background:rgba(255 ,59 ,48, 1);   }

  .yellow {
    background: rgba(255 ,204 ,0, 1);  }

  .green {
    background: rgba(76 ,217 ,100, 1); }

  .teal-blue {
    background: rgba(90 ,200 ,250, 1); }

  .blue {
    background: rgba(0 ,122 ,255, 1);  }

  .purple {
    background: rgba(88 ,86 ,214, 1);  }

  .pink {
    background: rgba(255 ,45 ,85, 1);  }
}

.colors-1 {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;

  .red-1, .yellow-1, .green-1, .teal-blue-1, .blue-1, .purple-1, .pink-1 {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .red-1 {
    background:rgba(255 ,59 ,48, 1);   }

  .yellow-1 {
    background: rgba(255 ,204 ,0, 1);  }

  .green-1 {
    background: rgba(76 ,217 ,100, 1); }

  .teal-blue-1 {
    background: rgba(90 ,200 ,250, 1); }

  .blue-1 {
    background: rgba(0 ,122 ,255, 1);  }

  .purple-1 {
    background: rgba(88 ,86 ,214, 1);  }

  .pink-1 {
    background: rgba(255 ,45 ,85, 1);  }
}

.colors-light  {
  width: 100%;
  height: 100px;
  display: inline-flex;
  flex-flow: row wrap;

  .light-red, .light-yellow, .light-green, .light-teal-blue, .light-blue, .light-purple, .light-pink  {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .light-red  {
    background: rgba(255, 71, 63, 0.7);    }

  .light-yellow {
    background: rgba(255 ,204 ,0, 0.7);   }

  .light-green {
    background: rgba(76 ,217 ,100, 0.7);  }

  .light-teal-blue {
    background: rgba(90 ,200 ,250, 0.7);  }

  .light-blue  {
    background: rgba(0 ,122 ,255, 0.7);   }

  .light-purple  {
    background: rgba(88 ,86 ,214, 0.7);   }

  .light-pink {
    background: rgba(255 ,45 ,85, 0.7);     }

}

.colors-light-1  {
  width: 100%;
  height: 100px;
  display: inline-flex;
  flex-flow: row wrap;

  .light-red-1, .light-yellow-1, .light-green-1, .light-teal-blue-1, .light-blue-1, .light-purple-1, .light-pink-1  {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .light-red-1  {
    background: rgba(255, 71, 63, 0.6);    }

  .light-yellow-1 {
    background: rgba(255 ,204 ,0, 0.6);   }

  .light-green-1 {
    background: rgba(76 ,217 ,100, 0.6);  }

  .light-teal-blue-1 {
    background: rgba(90 ,200 ,250, 0.6);  }

  .light-blue-1  {
    background: rgba(0 ,122 ,255, 0.6);   }

  .light-purple-1  {
    background: rgba(88 ,86 ,214, 0.6);   }

  .light-pink-1 {
    background: rgba(255 ,45 ,85, 0.6);     }

}




.colors-light-light  {
  width: 100%;
  height: 100px;
  display: inline-flex;
  flex-flow: row wrap;

  .light-light-red, .light-light-yellow, .light-light-green, .light-light-teal-blue, .light-light-blue, .light-light-purple, .light-light-pink  {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .light-light-red  {
    background: rgba(255, 71, 63, 0.4);    }

  .light-light-yellow {
    background: rgba(255 ,204 ,0, 0.4);   }

  .light-light-green {
    background: rgba(76 ,217 ,100, 0.4);  }

  .light-light-teal-blue {
    background: rgba(90 ,200 ,250, 0.4);  }

  .light-light-blue  {
    background: rgba(0 ,122 ,255, 0.4);   }

  .light-light-purple  {
    background: rgba(88 ,86 ,214, 0.4);   }

  .light-light-pink {
    background: rgba(255 ,45 ,85, 0.4);     }

}





.colors-light-light-light  {
  width: 100%;
  height: 100px;
  display: inline-flex;
  flex-flow: row wrap;

  .light-light-light-red, .light-light-light-yellow, .light-light-light-green, .light-light-light-teal-blue, .light-light-light-blue, .light-light-light-purple, .light-light-light-pink  {
    position: relative;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    min-width: 80px;
    margin: 5px;
  }

  .light-light-light-red  {
    background: rgba(255, 71, 63, 0.2);    }

  .light-light-light-yellow {
    background: rgba(255 ,204 ,0, 0.2);   }

  .light-light-light-green {
    background: rgba(76 ,217 ,100, 0.2);  }

  .light-light-light-teal-blue {
    background: rgba(90 ,200 ,250, 0.2);  }

  .light-light-light-blue  {
    background: rgba(0 ,122 ,255, 0.2);   }

  .light-light-light-purple  {
    background: rgba(88 ,86 ,214, 0.2);   }

  .light-light-light-pink {
    background: rgba(255 ,45 ,85, 0.2);     }

}