<div class="grid-x master animated fadeIn">

    <div class="cell small-24 medium-11 overflow">
        <div class="cell-margin">

            <div class="vertical-alignment">
                <a href="javascript:" onmousedown="clickFx.play()"><i class="fas fa-arrow-up"></i></a>
            </div>

         </div>
    </div>


    <div class="cell small-24 medium-13 overflow">
        <div class="cell-margin">

            <h1 class="title">Back to top</h1>

            <!--Button HTMl5-->
            <div class="component-buttons">
                <button type="button" class="flip flip-top-html show-code-html"><i class="fab fa-html5"></i><span class="text">HTML</span></button>
                <button type="button" class="copy-html" onClick="CopyToClipboard('to-copy')" id="copied">
                    <i class="far fa-copy"></i> Copy</button>
            </div>

            <!--Panel HTMl5-->
            <div class="panel panel-top-html">
                <pre class="line-numbers language-markup">
                    <code id="to-copy">&lt;a href=&quot;javascript:&quot; id=&quot;return-to-top&quot; onmousedown=&quot;clickFx.play()&quot;&gt;&lt;i class=&quot;fas fa-arrow-up&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code>
                </pre>
            </div>



            <!--Buttons SCSS-->
            <div class="component-buttons">
                <button type="button" class="flip flip-top-scss show-code-scss"><i class="fab fa-sass"></i> Scss</button>
                <button type="button" class="copy-scss" onClick="CopyToClipboard('to-copy')" id="copied">
                    <i class="far fa-copy"> Copy</i></button>
            </div>

            <!--Panel SCSS-->
            <div class="panel panel-top-scss">
                <pre class="line-numbers language-css">
                    <code id="to-copy">#return-to-top {
                        position: fixed;
                        bottom: 20px;
                        right: 20px;
                        background: #2da3ff;
                        width: 40px;
                        height: 45px;
                        text-decoration: none;
                        -webkit-border-radius: 15px;
                        border-radius: 15px;
                        display: none;
                        -webkit-transition: all 0.3s linear;
                        transition: all 0.3s ease;
                        z-index:500;
                    }

                    #return-to-top i {
                        color: #fff;
                        margin: 0;
                        position: relative;
                        left: 11px;
                        top: 13px;
                        font-size: 19px;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        z-index:500;
                        }</code>
                </pre>
            </div>


            <!--Buttons Javascript-->
            <div class="component-buttons">
                <button type="button" class="flip flip-top-js show-code-js"><i class="fab fa-js"></i> Javascript</button>
                <button type="button" class="copy-js" onClick="CopyToClipboard('to-copy')" id="copied">
                    <i class="far fa-copy"> Copy</i></button>
            </div>

            <!--Panel Javascript-->
            <div class="panel panel-top-js">
                <pre class="line-numbers language-javascript">
                    <code id="to-copy">$(window).scroll(function() {
                        if ($(this).scrollTop() >= 750) {
                            $('#return-to-top').fadeIn(300);
                        } else {
                            $('#return-to-top').fadeOut(300);
                        }
                    });

                    $('#return-to-top').click(function() {
                        $('body,html').animate({
                            scrollTop : 0
                        }, 500);
                    });</code>
                </pre>
            </div>

        </div>
    </div>
</div>

<script>
    Prism.highlightAll();
    CallCopyToClipboard();

    $(document).ready(function () {
        $(".flip-top-html").click(function () {
            $(".panel-top-html").slideToggle("slow");
        });

        $(".flip-top-scss").click(function () {
            $(".panel-top-scss").slideToggle("slow");
        });

        $(".flip-top-js").click(function () {
            $(".panel-top-js").slideToggle("slow");
        });
    });
</script>