.header {
  width: 100%;
  height: 66px;
  background: #ffffff;
  border-bottom: solid 1px rgba(177,177,177,0.36);
  z-index: 5;
  top: 0;
}

@media screen and (max-width: 640px) {
  .header {
    position: sticky;
  }
}

.design-title {
  font-size: rem-calc(42);
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.menu-top {
  display: inline-block;
  margin: 0 auto;
  margin-top: 13px;
  left: rem-calc(10);
  position: relative;
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
  a {
    display: block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
  }
  li {
    position: relative;
    float: left;
    margin: 0;
    border-left: 1px solid #eee;
    perspective: 200;

    &:first-child {
      border-left: none;
    }
    &.parent {
      &:before {
        content: '';
        z-index: 200;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -4px;
        margin-left: -20px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 20px 0 20px;
        border-color: #fff transparent transparent transparent;
        transition: margin-top .1s ease-out;
      }
    }
    &:hover,
    &:focus {
    & > a {
      text-decoration: none;
      color: #fff;
      background-color: #333;
    }
      &:before {
        margin-top: 0;
        border-top-color: #333;
      }
      .children {
        opacity: 1;
        transform: rotateX(0) translateZ(0);
      }
    }
  }
}

.children {
  opacity: 0;
  backface-visibility: hidden;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
  transform-origin: top center;
  transition: transform .4s cubic-bezier(.17,.67,.59,1.21), opacity .1s .1s;

  z-index: 100;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  text-align: left;
  border-radius: 5px 5px 10px 10px;

  li {
    float: none;
  }

  a {
    background-color: transparent;
    &:hover,
    &:focus {
      color: #333;
      background-color: #f9f9f9;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

.logo {
  height: 50px;
  position: relative;
  top: -20px;
  margin: 5px;
  padding: 2px;
}



