<div class="off-canvas position-right reveal-for-large" id="offCanvas" data-off-canvas >
    <i class="fas fa-times-circle close-button" id="canvas" aria-label="Close menu" data-close></i>

    <div class="off-canvas-content" data-off-canvas-content>

        <div class="settings">
            <img src="images/settings3.png" data-open="settings" class="">
        </div>
        <ul class="menu-top show-for-medium">
            <li class="parent">
                <a href="#"><strong>Installatie</strong></a>
                <ul class="children">
                    <li><a href="https://foundation.zurb.com/sites/docs/installation.html" target="_blank">Foundation</a></li>
                    <li><a href="https://sass-lang.com/install" target="_blank">>  Sass</a></li>
                    <li><a href="https://git-scm.com/downloads/" target="_blank">>  Git</a></li>
                    <li><a href="https://www.ruby-lang.org/en/downloads/" target="_blank">>  Ruby</a></li>
                    <li><a href="https://nodejs.org/en/download/" target="_blank">>  NodeJs</a></li>
                </ul>
            </li>
        </ul>

        <hr class="right-side-hr">


<!--  Scroll automatisch naar beneden zodra er nieuwe ruimte onderaan de pagina vrij is.
      Maak per componenten groep een checkbox met een select-all functionaliteit.
      Maak onderscheidt tussen foundation & gepersonaliseerde componenten.
      Maak per component een sectie met informatie over optimalisatie voor zoekmachines via: <a href="https://schema.org/docs/gs.html">https://schema.org/docs/gs.html
      Maak een container voor het inladen van SCSS & Javascript code
      Maak ruimte voor voor het weergeven van data-attributes
      Copy to clipboard: Het is niet mogelijk om van boven naar beneden code te kopieëren via de copy button op het moment er meerdere componenten zijn ingeladen. -->


    </div>
</div>
