<section class="window">
    <div class="atomic-window">

        <div class="panel panel-card" id="to-copy">
        <pre class="line-numbers language-markup">
            <code id="to-copy">&lt;div class=&quot;card&quot;&gt;
                &lt;img src=&quot;images/dummy.jpg&quot;&gt;
                &lt;div class=&quot;card-section&quot;&gt;
                    &lt;p&gt;This card makes use of the card-divider element.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;card-divider&quot;&gt;
                    &lt;h4&gt;I'm featured&lt;/h4&gt;
                &lt;/div&gt;
            &lt;/div&gt;</code>
        </pre>
        </div>

    </div>
</section>