<div class="off-canvas-wrapper content">

    <nav role="navigation" class="hamburger-navigation show-for-medium-down" data-toggle="offCanvas">
        <div id="menuToggle">
            <input title="" type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu"></ul>
        </div>
    </nav>

    <div class="off-canvas position-left reveal-for-medium" id="offCanvas" data-off-canvas>
        <i class="fas fa-times-circle close-button" id="canvas" aria-label="Close menu" data-close></i>
        <!-- Off-canvas / Sidebar starts here -->

        <div class="underline-cont">
            <ul class="no-bullet">
                <li><a href="index.php"><img src="images/design-logo.png" class="design-logo"></a>
                </li>
            </ul>
        </div>


        <div class="settings">
            <img src="images/settings3.png" data-open="settings" class="">
        </div>

        <hr class="side-hr">

        <ul class="vertical menu accordion-menu" data-accordion-menu>
            <li>
                <li class="category-parent"><a href="#"><input title="" type="checkbox" id="welcome" checked ><label for="welcome">Welcome</label></a>
            </li>
            <li class="menu-hover">
                <a href="#">Foundation</a>
                <ul class="menu vertical nested sidebar-li is-active">
                    <!--<li><a href="#"><input title="" type="checkbox" id="buttons" data-action="load"><label for="buttons">Buttons</label></a></li>-->
                    <!--<li><a href="#"><input title="" type="checkbox" id="badges"><label for="badges">Badges</label></a></li>-->
                    <!--<li><a href="#"><input title="" type="checkbox" id="form"><label for="form">Form</label></a></li>-->
                    <li><a href="#"><input title="" type="checkbox" id="switch"><label for="switch">Switch</label></a>
                    </li>
                    <!--<li><a href="#"><input title="" type="checkbox" id="tooltip"><label for="tooltip">Tooptip</label></a></li>-->
                    <!--<li><a href="#"><input title="" type="checkbox" id="accordion"><label for="accordion">Accordion</label></a></li>-->
                    <!--<li><a href="#"><input title="" type="checkbox" id="breadcrumbs"><label for="breadcrumbs">Breadcrumbs</label></a></li>-->
                    <li><a href="#"><input title="" type="checkbox" id="card"><label for="card">Card</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="callout"><label
                            for="callout">Callout</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="close-button"><label for="close-button">Close
                        Button</label></a></li>
                    <!--<li><a href="#"><input title="" type="checkbox" id="dropdown"><label for="dropdown">Dropdown</label></a></li>-->
                    <!--<li><a href="#"><input title="" type="checkbox" id="magellan"><label for="magellan">Magellan</label></a></li>-->
                    <li><a href="#"><input title="" type="checkbox" id="media-object"><label for="media-object">Media-object</label></a>
                    </li>
                    <li><a href="#"><input title="" type="checkbox" id="orbit"><label for="orbit">Orbit</label></a></li>
                    <!--<li><a href="#"><input title="" type="checkbox" id="off-canvas"><label for="off-canvas">Off-canvas</label></a></li>-->
                    <li><a href="#"><input title="" type="checkbox" id="pagination"><label
                            for="pagination">Pagination</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="progress-b"><label for="progress-b">Progress
                        Bar</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="reveal"><label for="reveal">Reveal</label></a>
                    </li>
                    <li><a href="#"><input title="" type="checkbox" id="responsive-a"><label for="responsive-a">Responsive
                        Accordion</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="slider"><label for="slider">Slider</label></a>
                    </li>

                    <li><a href="#"><input title="" type="checkbox" id="table"><label for="table">Table</label></a></li>
                    <!--<li><a href="#"><input title="" type="checkbox" id="tabs"><label for="tabs">Tabs</label></a></li>-->
                </ul>
            </li>


            <li class="menu-hover">
                <a href="#">Customized</a>
                <ul class="menu vertical nested sidebar-li nested is-active">
                    <li><a href="#"><input title="" type="checkbox" id="thumbnail"><label
                            for="thumbnail">Thumbnail Zoom</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="register"><label for="register">Register</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="login"><label for="login">Login</label></a></li>
                </ul>
            </li>
            <li class="menu-hover">
                <a href="#">Javascript</a>
                <ul class="menu vertical nested sidebar-li is-active">
                    <li><a href="#"><input title="" type="checkbox" id="back_to_top"><label for="back_to_top">Back to Top</label></a></li>
                    <!--<li><a href="#"><input title="" type="checkbox" id="owl-carousel"><label for="owl-carousel">Owl Carousel</label></a>-->
                    <!--</li>-->
                </ul>
            </li>
            <li class="menu-hover">
                <a href="#">Vendors</a>
                <ul class="menu vertical nested sidebar-li is-active">
                    <li><a href="#"><input title="" type="checkbox" id="parallax"><label for="parallax">Parallax Js</label></a></li>
                    <li><a href="#"><input title="" type="checkbox" id="owl-carousel"><label for="owl-carousel">Owl Carousel</label></a>
                    <li><a href="#"><input title="" type="checkbox" id="animate-css"><label for="animate-css">Animate.css</label></a>

                    </li>
                </ul>
            </li>
        </ul>
    </div>