<div id="sidebar">
    <i class="fas fa-times"></i>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

</div>