<div class="grid-x  ">
    <div class="cell small-24">
        <div class="cell-margin">

    <blockquote class="welcome">
        <p><em>The design process is weird and complicated, because people are weird and complicated.</em></p>
    </blockquote>


        </div>
    </div>

    <hr class="side-hr">


</div>

<script>
    // jQuery(window).trigger('resize').trigger('scroll');
    // $('.parallax-window').parallax({imageSrc: 'images/atom.png'});

    // window.onload=function()
    // { if (document.getElementById) {
    //     var c = document.getElementById("welcome");
    //     c.checked = true;} };

</script>
