.overflow {
  overflow: hidden;
}

.cell-margin {
  margin: 15px;
}

.hidden {
  display: none;
}

.title {
  font-family: 'Ubuntu', sans-serif;
}

.vertical-alignment {
  position: relative;
  text-align: center;

  a {
    text-align: center;
  }
}

//.underline {
//  &:hover {
//    ul li > a {
//      position: relative;
//      text-decoration: none;
//    }
//
//    ul li > a:hover {
//
//    }
//
//    ul li > a:before {
//      content: "";
//      position: absolute;
//      width: 90%;
//      height: 2px;
//      bottom: 0;
//      left: 7px;
//      top: 35px;
//      visibility: hidden;
//      -webkit-transform: scaleX(0);
//      transform: scaleX(0);
//      -webkit-transition: all 0.3s ease 0s;
//      transition: all 0.3s ease 0s;
//    }
//
//    ul li > a:hover:before {
//      visibility: visible;
//      -webkit-transform: scaleX(1);
//      transform: scaleX(1);
//    }
//
//  }
//}

