<header class="header show-for-small">

    <ul class="menu-top show-for-medium">
        <li class="parent">
            <a href="#"><strong>Installatie</strong></a>
            <ul class="children">
                <li><a href="https://foundation.zurb.com/sites/docs/installation.html" target="_blank">Foundation</a></li>
                <li><a href="https://sass-lang.com/install" target="_blank">>  Sass</a></li>
                <li><a href="https://git-scm.com/downloads/" target="_blank">>  Git</a></li>
                <li><a href="https://www.ruby-lang.org/en/downloads/" target="_blank">>  Ruby</a></li>
                <li><a href="https://nodejs.org/en/download/" target="_blank">>  NodeJs</a></li>
            </ul>
        </li>
    </ul>

</header>