<div class="reveal settings-modal" id="settings" data-reveal data-overlay="false">
    <p class="lead">Settings</p>
    <hr>

    <div id="section-ajax">
        <a class="btn-action button simulate" data-action="load">Simulate Ajax call</a>
    </div>


    <div id="section-position">
        <h1 class="page-header lead">Bar position <small>top</small></h1>
        <a class="button btn-action adjust" data-action="position" data-position="top" data-direction="width">Top</a>
        <a class="button btn-action adjust" data-action="position" data-position="bottom" data-direction="width">Bottom</a>
        <a class="button btn-action adjust" data-action="position" data-position="left" data-direction="height">Left</a>
        <a class="button btn-action adjust" data-action="position" data-position="right" data-direction="height">Right</a>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <hr>

</div>