<div class="grid-x  ">
    <div class="cell small-24">
        <div class="cell-margin">

    <blockquote class="welcome">
        <p><em>The design process is weird and complicated, because people are weird and complicated.</em></p>
    </blockquote>


        </div>
    </div>

    <hr class="side-hr">


</div>

<!--<div class="grid-x master animated fadeIn">-->

    <!--<div class="cell small-24">-->
        <!--<div class="cell-margin">-->

            <!--<div class="parallax-window" data-parallax="scroll" data-image-src="files/abstract.jpg" data-z-index="1"></div>-->

        <!--</div>-->
    <!--</div>-->


    <!--<div class="cell small-24">-->
        <!--<div class="cell-margin">-->

            <!--<h1 class="title">Parallax.js</h1>-->

            <!--<p><a href="http://pixelcog.github.io/parallax.js/" target="_blank">http://pixelcog.github.io/parallax.js/</a></p>-->




            <!--<pre class="line-numbers language-markup">-->
    <!--<code>&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js&quot;&gt;&lt;/script&gt;</code><button class="copy-button">Copy</button>-->
    <!--</pre>-->
            <!--<pre class="line-numbers language-markup">-->
    <!--<code>&lt;script src=&quot;/path/to/parallax.js&quot;&gt;&lt;/script&gt;</code><button class="copy-button">Copy</button>-->
    <!--</pre>-->




            <!--<pre class="line-numbers language-markup">-->
    <!--<code>&lt;div class=&quot;parallax-window&quot; data-parallax=&quot;scroll&quot; data-image-src=&quot;/path/to/image.jpg&quot;&gt;&lt;/div&gt;</code><button class="copy-button">Copy</button>-->
    <!--</pre>-->


            <!--<pre class="line-numbers language-css ">-->
    <!--<code>.parallax-window {-->
        <!--min-height: 400px;-->
        <!--background: transparent;-->
     <!--}</code><button class="copy-button">Copy</button>-->
    <!--</pre>-->





        <!--</div>-->


    <!--</div>-->
<!--</div>-->

<script>
    // jQuery(window).trigger('resize').trigger('scroll');
    // $('.parallax-window').parallax({imageSrc: 'images/atom.png'});

    // window.onload=function()
    // { if (document.getElementById) {
    //     var c = document.getElementById("welcome");
    //     c.checked = true;} };

</script>
